<div>
  <label style="font-weight: bold">James Braddock</label>
  <pre>{{tweets[0].created_at|date:'dd/MM/yyyy'}}</pre>
  <p>Je mets les pieds où je veux, Little John… et c'est souvent dans la gueule.</p>
</div>

<div>
  <label style="font-weight: bold">Bob kelso</label>
  <pre>{{tweets[1].created_at|date:'dd/MM/yyyy'}}</pre>
  <p>Qui a deux pouces et qui s'en fout ? Bob Kelso !</p>
</div>

<div>
  <label style="font-weight: bold">Lionel Messi</label>
  <pre>Wed Apr 05 12:30:12 +0000 2017</pre>
  <strong>La pulga est un extraterrestre</strong>
</div>

